.user
  %p.intro Here are the Github badges that we think <strong>#{user.name}</strong> deserves by virtue of his or her mad skizzles.
  %ul.categories
    - badge_categories.sort.each do |category_name, badges|
      %li.category
        %h2.name= category_name
        %ul.badges
          - badges.each do |badge|
            - if badge.earned_by?(user)
              %li.badge.complete
                %h3.name= badge.name
                %p.description= badge.description
            - else
              %li.badge.incomplete
                %h3.name= badge.name
                %p.description #{badge.description} #{badge.quantification_criteria(user)}
