<h1>Listing questions</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Answer</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Genre</th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%=h question.text %></td>
    <td><%=h question.answer %></td>
    <td><%=h question.latitude %></td>
    <td><%=h question.longitude %></td>
    <td><%=h question.genre_list %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New question', new_question_path %>
