<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @title ? @title : 'Where in the World' %></title>
  <%= stylesheet_link_tag 'anything' %>
  <%= yield :head %>
</head>
<body>
	<div class="container">	
		<div class="header">
			<div>
				<div class="logo">
					<%= image_tag 'logo.png' %>
				</div>
				<h1>
					Where in the World
				</h1>
			</div>
		</div>
		<div class="body">
      <%= yield %>
		</div>
	</div>
</body>
</html>
