%html
  %head
    %title Welcome to the badges page for #{user.name}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/application.css"}
  %body
    #content
      #header
        %h1.user_name Github Badges &sdot; #{user.name}
      #main
        .user
          %p.intro Here are the Github badges that we think <strong>#{user.name}</strong> deserves by virtue of his or her mad skizzles.
          %ul#badges
            - badges.each do |badge|
              - if badge.earned_by?(user)
                %li.badge.complete
                  %div.name= badge.name
                  %div.description= badge.description
              - else
                %li.badge.incomplete
                  %div.name= badge.name
                  %div.description #{badge.description} #{badge.quantification_criteria(user)}
        .clear
      #footer
        %p Built by <a href="http://twitter.com/bguthrie">Brian Guthrie</a>, <a href="http://twitter.com/tdinkar">Tejas Dinkar</a> and <a href="http://twitter.com/markhneedham">Mark Needham</a> for <a href="http://www.hackday.org/">Yahoo! Open Hack Day India 2010</a>. None of the people who built this site are affiliated with Github, just fans.
